.playlistSongs {
    color:white;
    width:100% !important;
    padding: 3px 0px;
}
.songInfo {
    color: #bcbec2;
    font-size: 25px;
    text-align: left;
}
.previewSongButton {
    margin: auto;
    width: 75px;
}
.previewSongButton:active {
    opacity: 0.6;
}
.previewSongButton:hover {
    cursor: pointer;
}
.singleSong {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #bcbec2;
    border-bottom-style: groove;
}
.singleSong:hover {
    background-color: rgb(23, 23, 46);
}
.songButtons {
    justify-content: flex-end;
}
.songTitle {
    color: white;
    font-family: 'Lora', serif;
    font-size: larger;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}
.songAuthor {
    font-family: 'Lora', serif;
    font-size: large;
}

@media only screen and (max-width: 600px) {
    .playlistSongs {
        width:100% !important;
    }
    .songInfo {
        flex: 0 0 75%;
        max-width: 75%;
        color: #bcbec2;
        font-size: 18px;
    }
    .songButtons {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;

    }
    .previewSongButton {
        margin-top: 3px;
        width: 52px;
    }
    .previewSongButton:active {
        opacity: 0.6;
    }
}