.waypoints {
    position:absolute;
    visibility: hidden !important;
    height: 0 !important;
    color:white !important;
    background: transparent !important;
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    border-bottom-style: hidden !important;
    border-bottom-color: transparent !important;
}

.showWaypoint {
    display: inline !important;
    /* transition: height 1s border-bottom 1s, border-bottom-style 1s border-bottom-color 1s !important; */
    transition-property:height, border-bottom-color, border-bottom, border-bottom-style !important;
    transition-duration:50ms, 200ms, 200ms, 200ms !important;
    transition-timing-function: linear;
    color:white !important;
    background: transparent !important;
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    border-bottom-style: groove !important;
    border-bottom-color: white !important;
    border-bottom: 1px solid white !important;
    text-align: center;
}

.showWaypoint:focus {
    color:white;
    background: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: black;
    border-bottom: 1px solid black;
  }

  .waypointsForm {
    color:white;
    margin: auto;
    width: 40%;
    padding-top:1%;
  }

  .waypointInputs {
      margin-bottom: 10px;
  }

  @media only screen and (max-width: 600px) {
    .waypointsForm {
        color:white;
        margin: auto;
        width: 85%;
        padding-top:3%;
        text-align: left;
      }
      .travelDuration {
        font-size: smaller;
        margin-top: 40px;
    }
  }

.removeButton {
    position: absolute;
    right: 0;
    width: 30px;
}

.removeButton:active {
    width: 27px;
}

.addButton {
    position: absolute;
    right: 35px;
    width: 30px;
}

.addButton:active {
    width: 27px;
}

.sendButton {
    position: absolute;
    right: 25px;
}

.travelDuration {
    margin-top: 40px;
}