.login-form {
  color:white;
  margin: auto;
  width: 20%;
  padding-top:16%;
  text-align: left;
}
.input-form {
  color:white !important;
  background: transparent !important;
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: groove !important;
  border-bottom-color: white !important;
  border-bottom: 1px solid white !important;
}

.input-form:focus {
  color:white;
  background: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom-color: black;
  border-bottom: 1px solid black;
}
.input-form::placeholder {
  color:white;
  opacity: 1;
}

.link {
  color:white;
  width: 60%;
  text-align: right;
  float: right;
}

.login-form-enter {
  opacity: 0;
}
.login-form-enter-active {
  opacity: 1;
  transition: opacity 1s;
}
.login-form-exit {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .login-form {
    color:white;
    margin: auto;
    width: 60%;
    padding-top:46%;
    text-align: left;
  }

  .loginError {
    display: block;
    font-size: 12px;
  }

}
