.generateOwnPlaylistFooter {
    position: fixed;
    left: 0;
    bottom: -11px;
    width: 100%;
    background-color: rgb(23, 23, 46);
    color: wheat;
    text-align: center;
}

@media only screen and (max-width: 600px) {
.generateOwnPlaylistFooter{
    font-size: medium;
}
.generateOwnPlaylistButton {
    padding: .25rem .5rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}

}