.playlistMainButtons {
    width: 45px;
    margin: 10px;
}

.playlistMainButtons:hover {
    cursor: pointer;
    background-color: rgb(23, 23, 46);
}

.playlistMainButtons:active {
    opacity: 0.6;
}

.singlePlaylistContainer {
    width: 60% !important;
}

.singlePlaylistHeader {
    justify-content: flex-end;
    text-align: right !important;
    /* padding-right: 10px; */
}

.singlePlaylistTitle {
    font-family: 'Lora', serif;
    color:white;
    font-size: xx-large;
    justify-content: center;
    font-weight: bold;
}

.playerHeader{
    color:rgb(77, 75, 75);
    font-size: x-large;
    font-family: 'Lora', serif;
}

.playlistBackButton {
    justify-content: flex-start;
    text-align: left !important;
}

.singlePlaylistInfo {
    color:white;
    font-size: x-large;
    justify-content: center;
}

.singlePlaylistAuthor {
    color: #bcbec2;
    font-size: xx-large;
    justify-content: center;
}
.chipTagsSinglePlaylist {
    margin: 5px;
}

.editTitleInput {
    color:white !important;
    background: transparent !important;
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    border-bottom-style: groove !important;
    border-bottom-color: #6c757d !important;
    border-bottom: 1px solid #6c757d !important;
    text-align: center;
    width: 90%;
    /* margin-bottom: 25px !important; */
}

.editGenresInput {
    text-align: left;
}


@media only screen and (max-width: 600px) {
    .singlePlaylistContainer {
        width: 90% !important;
    }
    .playlistMainButtons {
        width: 30px;
        margin: 10px;
    }
    .singlePlaylistHeader {
        padding-right: 5px !important;
    }
    .playerHeader{
        color:rgb(77, 75, 75);
        font-size: large;
    }
    .singlePlaylistInfo {
        color:white;
        font-size: large;
    }
    
    .singlePlaylistAuthor {
        color: #bcbec2;
        font-size: large;
        justify-content: center;
    }
}