.suggestedPlaylists {
    margin-top: 10px;
    width: 40% !important;
    color:wheat;
    font-size: larger;
}
.suggestedPlaylistsContent {
    margin-top: 30px;
}

.suggestedPlaylistsTitle {
    margin-left: 0px !important;
}

.suggestedPlaylistsButtons {
    margin-bottom: 50px;
}
.suggestedPlaylistsButtonPrev:hover {
    cursor: pointer;
    background-color: rgb(23, 23, 46);
}
.suggestedPlaylistsButtonNext:hover {
    cursor: pointer;
    background-color: rgb(23, 23, 46);
}
.suggestedPlaylistsButtonPrev:active {
    background-color: rgb(13, 13, 46);
}
.suggestedPlaylistsButtonNext:active {
    background-color: rgb(13, 13, 46);
}

@media only screen and (max-width: 600px) {
.suggestedPlaylists {
    margin-top: 0px;
    width: 90% !important;
}
.suggestedPlaylistsButtons {
    font-size: small;
}
.suggestedPlaylistsTitle {
    font-size: small;
}
}

