.singlePlaylistImage {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.singlePlaylistOverview {
    height: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(196, 164, 188);
    border-bottom-style: groove;
}

.singlePlaylistOverview:hover {
    background-color: rgb(23, 23, 46);
}
.singlePlaylistOverview:active {
    background-color: rgb(13, 13, 46);
}

.singlePlaylistDetails {
    color: rgb(196, 164, 188);
}
.textDetails {
    font-size:1.2vw;
    width: auto;
    height: 100%;
}

.singlePlaylistImageCont {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .singlePlaylistOverview {
        width: 90% !important;
        height: auto;
        margin-bottom: 10px;
        border-bottom: 1px solid rgb(196, 164, 188);
        border-bottom-style: groove;
    }
    
    .singlePlaylistDetails {
        width: 65% !important;
        color: rgb(196, 164, 188);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
    }
    .textDetails {
        font-size:2.6vw;
        margin-bottom: 4px;

    }
    .singlePlaylistImage {
        width: 100%;
        height: auto;
    }
    
    .singlePlaylistImageCont {
        width: 35% !important;
        height: auto;
        padding-top: 10px;
    }

    .singlePlaylistOverview:active {
        background-color: rgb(23, 23, 46);
    }


}