.slide-pane{
    background: transparent !important;
    max-width: fit-content;
}

.slide-pane__header{
    opacity: 0;
}

.slide-pane__content{
    opacity: 1;
    background-color: transparent;
}

.slidingImage {
    width: 100%;
    height: auto;

}

.errorString {
    position: absolute;
    font-size: 25px;
    max-width: 250px;
    top: 55px ;
    left: 62px;

}

@media only screen and (max-width: 600px) {
    .slidingImage {
        width: auto;
        height: 100%;
    
    }
    .errorString {
        position: absolute;
        max-width: 200px;
        top: 45px ;
        left: 55px;
        font-size: 22px;
    
    }
}