@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline");
/* html {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Bungee Hairline", cursive;
} */

body {
    background-color: #112 !important;
}

.adminPanel {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --light: #f8f9fa;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box;
    color: white;
    margin: auto;
    width: 40%;
    padding-top: 1%;
}

.usernameInput {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --light: #f8f9fa;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    overflow: visible;
    display: inline !important;
    transition-property: height, border-bottom-color, border-bottom, border-bottom-style !important;
    transition-duration: 50ms, 200ms, 200ms, 200ms !important;
    color: white !important;
    background: transparent !important;
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    border-bottom-style: groove !important;
    border-bottom-color: white !important;
    border-bottom: 1px solid white !important;
    text-align: center;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.findButton {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --light: #f8f9fa;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    position: absolute;
    right: 40%;
    width: 7rem;
    margin-top: 1%;
    -webkit-appearance: button;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .buttonContainers {
        top: calc(90% - 56px);
        padding: 0px 32px;
        width: calc(100% - 64px);
    }
}

.containers {
    margin: auto;
    height: 100%;
    width: 100%;
}

.img {
    margin: auto 16px;
    object-fit: contain;
    transition: transform 300ms;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 600px) {
    .img {
        height: calc(50vh - 32px);
    }
}

.img:hover {
    transform: scale(1.1);
    box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.item {
    height: 90%;
    width: 90%;
}

.slide {
    position: absolute;
    height: 80vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 500ms;
}

.slideContainer {
    height: calc(100vh - 32px);
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    perspective: 5000px;
}

@media only screen and (max-width: 1200px) {
    .slideContainer {
        perspective: 3000px;
    }
}

@media only screen and (max-width: 600px) {
    .slideContainer {
        perspective: 1500px;
    }
}

.text {
    padding: 0 16px;
    transition: opacity 1s;
}

.searchResults {
    margin-top: 11%;
}

.userDetails {
    margin-top: 11%;
    width: 100%;
}



@media only screen and (max-width: 400px) {
    .adminPanel {
        width: 70%;
    }
    .findButton {
        margin-top: 0.5rem;
        right: 5.4rem;
        width: 5rem;
    }
    .userDetails {
        margin-top: 30%;
        width: 100%;
    }
    .adminTitle {
        font-size: 200%;
        margin-top: 10%;
    }
    .adminHeader {
        font-size: 180%;
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .manageUserBtns {
        width:130%;
        margin-left: -16% !important;
        padding-top: 5% !important;
    }

    .textDetails {
        font-size: 100%;
    }
    .userDetailsText{
        margin-left: 20%;
    }
    .liftBanBtn.col {
        margin-right: 5% !important;
        padding-left: 2.5% !important;
    }
    .banBtn.col {
        margin-right: 10% !important;
        margin-left: 10% !important;
        padding-left: 0% !important;
    }
}

.banBtn.col {
    margin-right: 0% !important;
    margin-left: 10% !important;
    padding-left: 0% !important;
}


.deleteBtn.col {
    margin-left: -15% !important;
}

.liftBanBtn.col {
    margin-left: -15% !important;
}

.manageUserBtns {
    padding-top: 5% !important;
}