@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline");
/* html {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Bungee Hairline", cursive;
} */

body {
  background-color: #112 !important;
}

@media only screen and (max-width: 1200px) {
  .buttonContainers {
    top: calc(90% - 56px);
    padding: 0px 32px;
    width: calc(100% - 64px);
  }
}

.img {
  margin: auto 16px;
  object-fit: contain;
  transition: transform 300ms;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.userImage {
  width: 30px !important;
}

@media only screen and (max-width: 600px) {
  .img {
    height: calc(50vh - 32px);
  }
}

.img:hover {
  transform: scale(1.1);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.item {
  height: 90%;
  width: 90%;
}

.slide {
  position: absolute;
  height: 80vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 500ms;
}

.slideContainer {
  height: calc(100vh - 32px);
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  perspective: 5000px;
}

@media only screen and (max-width: 1200px) {
  .slideContainer {
    perspective: 3000px;
  }
}

@media only screen and (max-width: 600px) {
  .slideContainer {
    perspective: 1500px;
  }
}

.star {
  height: 15px;
  width: 15px;
}

#starField {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.text {
  padding: 0 16px;
  transition: opacity 1s;
}

.title {
  font-size: 2rem;
  color: white;
  line-height: 2rem;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.5em;
    color: white;
    line-height: 1.5rem;
  }
  .suggestedPlaylistsButtonPrev {
    margin-left: 10%;
  }
  .suggestedPlaylistsButtonNext {
    margin-left: 20%;
  }
  .genreBtns {
    margin-left: 5%;
  }
  .userDetails {
    margin-top: 10% !important;
  }
  .profileImage.rounded-circle {
    width: 100% !important;
  }
  .userDetailsAll.row {
    margin-left: -4%;
  }
  .userDetailsText.col {
    margin-left: 23%;
  }
}

.homepageTitle {
  color: white;
  font-size: 30px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 55px;
  text-align: center;
}

.searchResults {
  margin-top: 1%;
}

.sendButton {
  margin-top: 1%;
}

.genreButton {
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom-color: white !important;
  width: 4.9em !important;
  color: #6c757d;
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.genreButton:active {
  color: white !important;
}

.addGenre {
  width: 25%;
  margin-right: 10%;
  margin-bottom: 8%;
  filter: opacity(60%);
}

.profileImage {
  width: 156% !important;
}

.userDetailsAll {
  margin-left: 18%;
}

.userDetailsText {
  margin-left: 10%;
}