.homeButton {
    width: 50px;
    height: auto;
}

.homeButton:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
    /* background-color: #4CAF50; */
}

.header {
    margin-top: 5px;
}

.btn-link {
    color: rgb(196, 164, 188) !important;
}