.avatar {
    width: 200px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.uploadform:hover > .avatar{
    opacity: 0.3;
}

 .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 110px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

  }
  .uploadform:hover {
      cursor: pointer;
  }
.uploadform:hover > .middle {
    opacity: 1;
}

  .text {
    color: white;
    font-size: 20px;
    margin-left: 15px;
    padding: 16px 32px;
  } 

  .uploadbutton {
      float:left;
      left:20px;
  }

.username-title-avatar {
  color:white;
    padding-top: 30px;
}
