.generatePlaylistForm {
    width: 40% !important;
}
.generateOwnPlaylistTravelDuration {
    color: wheat;
    margin-top: 15px;
    font-size: 35px;
}
.generatePlaylistFormInputs {
    color:white !important;
    background: transparent !important;
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    border-bottom-style: groove !important;
    border-bottom-color: #6c757d !important;
    border-bottom: 1px solid #6c757d !important;
    /* margin-bottom: 25px !important; */
}

.generatePlaylistFormInputs:focus {
    color:white;
    background: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: black;
    border-bottom: 1px solid black;
}

.playlistTags {
    display: table !important;
    color:white !important;
    background: transparent !important;
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    border-bottom-style: groove !important;
    border-bottom-color: #6c757d !important;
    border-bottom: 1px solid #6c757d !important;
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-top: 5px;
    width: 100%;
    /* border:1px solid white !important; */
}

.playlistTags:focus {
    color:white;
    background: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: black;
    border-bottom: 1px solid black;
}
.chipTags {
    display:table-cell !important;
    width:1px !important;

    /* margin-left: 0 !important; */
    /* float:left !important; */
 }

.chipInput {
    display:table-cell !important;
    width:100% !important;
    color:white !important;
    background: transparent !important;
    border-top-style: hidden !important;
    border-right-style: hidden !important;
    border-left-style: hidden !important;
    border-bottom-style: hidden !important;
    /* float:right !important; */
 }

.generatePlaylistButton {
    margin-left: 60%;
    margin-top: 15px;
}

.percentButton {
    z-index: 0 !important;
}

.MuiChip-label{
    color: white !important;
}
.MuiChip-outlined{
    border: 1px solid white !important;
}

.MuiChip-outlined{
    color: white !important;
}

.MuiChip-deleteIcon{
    color: wheat !important;
}

.additionalInfoLoginErrors {
    color: white;
    text-align: left !important;
    margin-left: 10px !important;
}

.audioPlayer {
    position: fixed;
    left: 20%;
    bottom: 0;
    width: 60%;
    color: white;
    text-align: center;
}
.closePlayerButton {
    float:right;
    width: 20px;
}

@media only screen and (max-width: 600px) {
.generatePlaylistForm {
    width: 100% !important;
}
.generateOwnPlaylistTravelDuration {
    color: wheat;
    font-size: medium;
    margin-top: 15px;
}
.generatePlaylistButton {
    margin-left: 60%;
    padding: .25rem .5rem !important;
    font-size: .875rem !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}
.additionalInfoLoginErrors {
    color: white;
    text-align: left !important;
    font-size: small;
    margin-left: 10px !important;
}
.audioPlayer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
.closePlayerButton {
    float:right;
    width: 20px;
}
.rhap_header {
    margin-bottom: 0px !important;
}
}